<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>matchups</title>
		<link rel="icon" href="assets/site/sports-fight-svgrepo-com.svg" type="image/svg+xml" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
		<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.8/dist/chart.umd.min.js"></script>

		<script src="js/chart.js"></script>
		<script src="js/paths.js"></script>
		<script src="js/data.js"></script>
		<script src="js/match_display.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Matchups</a>
				<button
					type="button"
					class="btn btn-outline-secondary"
					data-bs-toggle="modal"
					data-bs-target="#uploadMatchesModal"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						fill="currentColor"
						class="bi bi-file-earmark-arrow-up"
						viewBox="0 0 16 16"
					>
						<path
							d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707z"
						/>
						<path
							d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"
						/>
					</svg>
				</button>
			</div>
		</nav>

		<!-- add custom set modal -->
		<div
			class="modal fade"
			id="uploadMatchesModal"
			tabindex="-1"
			aria-labelledby="uploadMatchesModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="uploadMatchesModalLabel">Upload Matchup Data</h1>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<label for="uploadMatches" class="form-label">Upload csv file</label>
						<input class="form-control" type="file" id="uploadMatches" accept="text/csv" />
						<span class="form-text"
							>CSV format: [set number (unique); your character; enemy character; stage; ( win |
							lost ); enemy name; enemy elo; your elo]</span
						>
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-danger"
							data-bs-dismiss="modal"
							onclick="replaceUploadedData(event)"
						>
							Replace Data
						</button>
						<!-- <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              onclick="mergeUploadedData(event)"
            >
              Merge Data 
            </button> -->
					</div>
				</div>
			</div>
		</div>

		<div>
			<label for="piChart" class="form-label p-3">Character Encounter</label>
			<canvas id="piChartEnemys" style="max-height: 400px; max-width: 500px"></canvas>
			<script>
				displayPiChartEnemys();
			</script>
		</div>

		<div class="text-center d-flex flex-wrap justify-content-center" id="matchesDisplay"></div>

		<script type="module">
			display_matches();
		</script>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"
		></script>
	</body>
</html>
